page-sharebook {
    .button-pink {
        color: #F63566;
        background-color: white;
        text-transform: uppercase;
        font-size: 75%;
        border: 2px solid #F63566;
        padding: 6% 23%;
        width: 5%;
        margin: auto;
        margin-top: 30px;
        white-space: nowrap;
        text-align: center;
        font-family: "SanFranciscoText-Regular";
        font-weight: bold;
        letter-spacing: 0.3em;
    }
}