$TRANSPARENCY: rgba(255, 255, 255, 0.4);
app-component {
    .app-name {
        color: white;
        text-align: center;
        font-size: 2em;
        span{
            font-weight: bold;
        }
        ion-icon{
            float: right;
        }
    }
    .user-info-container {
        width: 100%;
        border-bottom: 2px solid black;
        margin-bottom: 20px;
        position: relative;
        background: rgba(144, 3, 3, 0.31);
        .loggedIn-div {
            .logout-button{
                float:right;
            }
            .profile-image {
                text-align: center;
                ion-img {
                    background: none;
                    display: block;
                    min-height: 200px;
                    min-width: 200px;
                }
                ion-img.img-loaded img {
                    height: 200px;
                    border-radius: 50%;
                    border: 2px solid white;
                    display: inline-block;
                }
            }
        }
        .username {
            color: white;
            text-align: center;
        }
    }
    .login-button.not-logged {
        // position: absolute;
        // bottom: 0%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        float: right;
        margin-top: 200px;
    }
}

.sidemenu {
    background: #200122;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #6f0000, #200122);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #6f0000, #200122);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #2F0743, #41295a);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to right, #2F0743, #41295a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    .activeHighlight {
        background-color: $TRANSPARENCY;
    }
    .item-md {
        background: none;
        color: white;
    }
    .spacer {
        height: 29px;
    }
    .menuItemSelected {
        background: rgba(255, 255, 255, 0.21);
    }
}